batch_size: 32
no_cuda: False
seed: 42
epochs: 111 #
classes: 2
threshold: 0.1
param: 48.  # pos_weight!
in_channels: 4
out_channels: 1
ignore_index: None # 0, 1, None [eval_loop]

defaults:
  - _self_
  - dataset: benchmark
  - model: unet  #
  - loss: huber  #
  - optimizer: rmsprop
  - scheduler: reduce_on_plateau

#------------------------- Hydra Config ------------------------#
hydra:
  job:
    name: unet-huber-rmspro-0.1  #
  run:
    dir: outputs_BM_/${hydra.job.name}/${now:%Y-%m-%d_%H-%M}
  sweep:
    dir: multirun_BM_/${hydra.job.name}/${now:%Y-%m-%d_%H-%M}
    subdir: ${hydra.job.override_dirname}
