batch_size: 32
no_cuda: False
seed: 42
epochs: 30  #
classes: 2
threshold: 0.4

defaults:
  - _self_
  - dataset: benchmark
  - model: unet  #
  - loss: mse  #
  - optimizer: adam

#------------------------- Hydra Config ------------------------#
hydra:
  job:
    name: unet-mse  #
  run:
    dir: outputs_BM/${hydra.job.name}/${now:%Y-%m-%d_%H-%M}
  sweep:
    dir: multirun_BM/${hydra.job.name}/${now:%Y-%m-%d_%H-%M}
    subdir: ${hydra.job.override_dirname}
